.easytransac-icon {
  background-color: #2b957a;
  background-image: linear-gradient(to right, #2b957a 0%, #37bc9b 100%);
  background-repeat: repeat-x;
  display: inline-block;
  height: 60px;
  vertical-align: middle;
}

.easytransac-multiple-payments-rates {
  color: #666;
  font-size: 0.9em;
  margin-left: 20px;
}
